@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0;
}

body {
    background-image: url(fondo.jpg);
    background-size: cover;
}

.bateria {
    color: white;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.nota {
    background-color: rgba(80, 9, 9, 0.932);
    display: grid;
    width: 10%;
    height: 10%;
    align-items: center;
    margin: 10px;
    justify-items: center;
    cursor: pointer;
    border:2px solid rgb(0, 0, 0);
     
    transition: all .07s ease;
}
kbd{
    font-size: 30px;
}
.nota:hover{
    border: 3px solid white;
}
.sonando{
    transform: scale(1.1);
    border: 3px solid white;
}